<div class="d-flex justify-content-center">
    <h2>Edit group</h2>
    <form action="/site/groups/edit" method="POST">
        <p>Group title: <input class="form-control" type="text" name="name" value="{{name}}"></p>
        <p>Group description: <textarea class="form-control" name="description">{{description}}</textarea></p>
        <input type="hidden" value="{{id}}" name="groupId">
        <input class="btn btn-primary" type="submit" value="Save Group">
    </form>
</div>
