<div class="row justify-content-center">
    {{> groupP}}
</div>
<script type="application/ecmascript" src="/js/group.js">
</script>

<script type="application/ecmascript">
    registerDelete('{{token}}')
</script>
