<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" href="/site/static/bootstrap.css">
        <style>
            /* Remove the navbar default margin-bottom and rounded borders */
            .navbar {
                margin-bottom: 0;
                border-radius: 0;
            }

            /* Add a gray background color and some padding to the footer */
            footer {
                background-color: #f2f2f2;
                padding: 25px;
            }
        </style>
    <meta charset="utf-8">
    <title>{{title}}</title>
    </head>
    <body>
        {{> navBar}}
     <div class="container text-center">
         {{{body}}}
     </div>
    </body>
</html>
