<h2>User login</h2>

<div class="form-group">
    <form class="p-3" action="/login" method="POST">
        <div class="input-group mb-3">
            <span class="input-group-text">Username</span>
            <input type="text" name="username" class="form-control" value="{{username}}">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Password</span>
            <input type="password" name="password" class="form-control">
        </div>
        <div class="input-group mb-3 justify-content-center">
            <button type="submit" class="btn-lg btn-primary mb-2">Login</button>
        </div>
    </form>
    {{#if message}}
        <div class="alert alert-danger alert-dismissible show" role="alert">
            {{message}}
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/if}}
</div>
