<br>
<h2>User login</h2>

<div class="form-group justify-content-center">
    <form class="p-3" action="/login" method="POST">
        <div class="input-group mb-3 justify-content-center">
            <div class="input-group-prepend">
                <span class="input-group-text col-1">Username</span>
            </div>
            <div class="col-xs2">
                <input type="text" name="username" class="form-control" value="{{username}}">
            </div>
        </div>

        <div class="input-group mb-3 justify-content-center">
            <div class="input-group-prepend">
                <span class="input-group-text col-1">Password</span>
            </div>
            <div class="col-xs2">
                <input type="password" name="password" class="form-control">
            </div>
        </div>
        <div class="input-group mb-3 justify-content-center">
            <button type="submit" class="btn-lg btn-primary mb-2">Login</button>
        </div>
    </form>
    {{#if message}}
        <div class="alert alert-danger alert-dismissible show" role="alert">
            {{message}}
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/if}}
</div>
