<div class="row justify-content-center">
    {{#if groups}}
    <div class="col-3">
       {{> addToGroupP movieId=movie.id}}
    </div>
    {{/if}}
    <div class="col-8 justify-content-center">
        {{> movieP}}
    </div>
</div>
