<div class="container text-center">
    <h2>{{title}}</h2>
    {{#each movies}}
    <div class="row justify-content-center">
            {{> searchMovieP }}
        <hr class="hr" />
    </div>
    {{/each}}
</div>
