<div class="justify-content-center">
    <h2>Search Movie</h2>
    <div class="form-group">
        <form class="p-3" action="/movies" method="GET">
            <div class="input-group">
                <span class="input-group-text">Movie</span>
                <input type="text" name="search" class="form-control" placeholder="Title"/>
            </div>
            <div class="input-group">
                <span class="input-group-text">Offset</span>
                <input type="text" name="offset" class="form-control" placeholder="0"/>
                <span class="input-group-text">Limit</span>
                <input type="text" name="limit" class="form-control" placeholder="250"/>
            </div>
            <div class="input-group justify-content-center">
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </div>
        </form>
    </div>
</div>
