<nav class="navbar navbar-default">
    <a href="/site/groups">List groups</a>
    <a href="/site/groups/new">Create group</a>
    <a href="/site/groups/edit">Edit group</a>
    <a href="/site/movies/search">Search movies</a>
    <a href="/site/movies/top">List Top250 Movies</a>
</nav>
