<div class="col-2">
    <img src="{{imageUrl}}" alt="poster" class="img-fluid">
</div>
<div class="col-7">
    <h2 class="text-lg-center"><a href="/movies/{{id}}">{{title}}</a></h2>
    <p>{{description}}</p>
</div>
